
<p id='feedback-data' style='display: none;'>
  Questions, comments, or just want to share this post?
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-text="Check out this post &quot;{{ .Title }}&quot; "
    data-url="https://www.brodieg.com{{ .Permalink }}"
    data-via="brodiegaslam"
    data-dnt="true" data-show-count="false"
  >Share</a> it.
  <a
    href="https://twitter.com/brodiegaslam?ref_src=twsrc%5Etfw"
    class="twitter-follow-button"
    data-show-screen-name="true"
    data-show-count="false"
  >Follow @brodiegaslam</a> for updates and/or new post notifications.

</p>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script type='text/javascript'>
window.addEventListener(
  "load",
  function() {
    var feed_cont = document.getElementById('feedback-cont');
    var feed_data = document.getElementById('feedback-data');
    if(feed_cont != null && feed_data != null) {
      feed_cont.appendChild(feed_data);
      feed_data.style.display = 'block';
    }
  }
);
</script>

